python-fasthtml
fh_frankenui @ git+https://github.com/answerDotAI/fh-frankenui
fastcore
fh_matplotlib
numpy
matplotlib
nbdev @ git+https://github.com/Isaac-Flath/nbdev.git@HTML-ShowDoc-Rendering
markdown2
llms-txt 
pysymbol_llm
